.report-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.report-table-container {
  overflow: auto;
  flex: 1;
}

.report-table-container tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  box-shadow: inset 0px 0px 9999px white;
}

.report-table-container thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  box-shadow: inset 0px 0px 9999px rgb(236, 236, 236);
}

.report-table-container th, .report-table-container td {
  text-align: center !important;
  vertical-align: middle !important;
  min-width: 100px;
}

.report-table-container .lod {
  color: #aaaaaa;
  font-size: 0.8em;
  background: #fbfbfb;
  padding: 2px 1px;
  border-radius: 2px;
  border: 1px solid #eeeeee;
  font-weight: normal;
}

.referential-container {
  width: 100%;
  display: flex;
  font-size: 0.6em;
  font-weight: normal;
  box-sizing: border-box;
}

.referential-item {
  padding: 1px 3px;
  flex: 1 0 auto;
  margin: 0px 3px;
  border-radius: 5px;
}

.referential-item[data-refential="A"] {
  background: #cdfaba;
  color: #006e3b;
}

.referential-item[data-refential="B"] {
  background: #f8ea6b;
}

.referential-item[data-refential="C"] {
  background: #fcac73;
  color: #66320f;
}

.referential-item[data-refential="D"] {
  background: #ff9299;
  color: rgb(138, 0, 0);
}

.concentration-info {
  font-size: 0.6em;
}

td[data-referential] {
  box-shadow: inset 0 0 0 5px white;
}

td[data-referential="A"] {
  background: #cdfaba;
  color: #006e3b;
}

td[data-referential="B"] {
  background: #f8ea6b;
}

td[data-referential="C"] {
  background: #fcac73;
  color: #66320f;
}

td[data-referential="D"] {
  background: #ff9299;
  color: rgb(138, 0, 0);
}

.is-near-next-referential {
  box-shadow: inset 0 0 0 3px white, inset 0px 0px 0px 7px rgb(255, 119, 119) !important;
}

.report-header {
  display: flex;
  margin-bottom: 15px;
}

.report-title {
  flex: 1;
}

.report-buttons {
  display: flex;
  align-items: center;
}
